asttokens==3.0.1 ; python_version >= "3.11" and python_version < "3.14"
black==26.1.0 ; python_version >= "3.11" and python_version < "3.14"
bump2version==1.0.1 ; python_version >= "3.11" and python_version < "3.14"
cfgv==3.5.0 ; python_version >= "3.11" and python_version < "3.14"
click==8.3.1 ; python_version >= "3.11" and python_version < "3.14"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.14" and (platform_system == "Windows" or sys_platform == "win32")
coverage==7.13.3 ; python_version >= "3.11" and python_version < "3.14"
decorator==5.2.1 ; python_version >= "3.11" and python_version < "3.14"
distlib==0.4.0 ; python_version >= "3.11" and python_version < "3.14"
executing==2.2.1 ; python_version >= "3.11" and python_version < "3.14"
filelock==3.20.3 ; python_version >= "3.11" and python_version < "3.14"
flake8==7.3.0 ; python_version >= "3.11" and python_version < "3.14"
identify==2.6.16 ; python_version >= "3.11" and python_version < "3.14"
iniconfig==2.3.0 ; python_version >= "3.11" and python_version < "3.14"
ipdb==0.13.13 ; python_version >= "3.11" and python_version < "3.14"
ipython-pygments-lexers==1.1.1 ; python_version >= "3.11" and python_version < "3.14"
ipython==9.10.0 ; python_version >= "3.11" and python_version < "3.14"
isort==7.0.0 ; python_version >= "3.11" and python_version < "3.14"
jedi==0.19.2 ; python_version >= "3.11" and python_version < "3.14"
librt==0.7.8 ; python_version >= "3.11" and python_version < "3.14" and platform_python_implementation != "PyPy"
matplotlib-inline==0.2.1 ; python_version >= "3.11" and python_version < "3.14"
mccabe==0.7.0 ; python_version >= "3.11" and python_version < "3.14"
mypy-extensions==1.1.0 ; python_version >= "3.11" and python_version < "3.14"
mypy==1.19.1 ; python_version >= "3.11" and python_version < "3.14"
nodeenv==1.10.0 ; python_version >= "3.11" and python_version < "3.14"
packaging==26.0 ; python_version >= "3.11" and python_version < "3.14"
parso==0.8.5 ; python_version >= "3.11" and python_version < "3.14"
pathspec==1.0.4 ; python_version >= "3.11" and python_version < "3.14"
pexpect==4.9.0 ; python_version >= "3.11" and python_version < "3.14" and sys_platform != "win32" and sys_platform != "emscripten"
platformdirs==4.5.1 ; python_version >= "3.11" and python_version < "3.14"
pluggy==1.6.0 ; python_version >= "3.11" and python_version < "3.14"
pre-commit==4.5.1 ; python_version >= "3.11" and python_version < "3.14"
prompt-toolkit==3.0.52 ; python_version >= "3.11" and python_version < "3.14"
ptyprocess==0.7.0 ; python_version >= "3.11" and python_version < "3.14" and sys_platform != "win32" and sys_platform != "emscripten"
pure-eval==0.2.3 ; python_version >= "3.11" and python_version < "3.14"
pycodestyle==2.14.0 ; python_version >= "3.11" and python_version < "3.14"
pyflakes==3.4.0 ; python_version >= "3.11" and python_version < "3.14"
pygments==2.19.2 ; python_version >= "3.11" and python_version < "3.14"
pytest-cov==7.0.0 ; python_version >= "3.11" and python_version < "3.14"
pytest-env==1.2.0 ; python_version >= "3.11" and python_version < "3.14"
pytest==8.4.2 ; python_version >= "3.11" and python_version < "3.14"
pytokens==0.4.1 ; python_version >= "3.11" and python_version < "3.14"
pyyaml==6.0.3 ; python_version >= "3.11" and python_version < "3.14"
stack-data==0.6.3 ; python_version >= "3.11" and python_version < "3.14"
traitlets==5.14.3 ; python_version >= "3.11" and python_version < "3.14"
typing-extensions==4.15.0 ; python_version >= "3.11" and python_version < "3.14"
virtualenv==20.36.1 ; python_version >= "3.11" and python_version < "3.14"
wcwidth==0.5.3 ; python_version >= "3.11" and python_version < "3.14"
